@import "bootstrap.css";
@import "all.css";


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$base-color-old: #77B185;
$base-color: #6DAE81;
$base-color-dark: #659871;
//$base-color2: #E4D6CF;
$base-color2: #EFF8FF ;
$font-color-title: #5B6065;
$font-color-text:  #959595;

// ---------------------------------------------------------------------------------------------------------------------

@media (min-width: 768px) {
  .navbar-main {
    font-size: 2rem;
  }

  body {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 2rem !important;
  }

  .btn-lg {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .navbar-top {
    height: 2.25rem;
  }

  .navbar-main {
    top: 2.25rem;
    height: 4.5rem;
    font-size: 1.1rem;
    opacity: 0.95;
  }

  // ---

  body {
    font-size: 1.1rem;
    padding-top: 6.75rem;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  .btn-lg {
    font-size: 1.1rem;
  }
}

//@media (min-width: 1200px) {
//  h2 {
//    font-size: 1.5rem !important;
//  }
//}

// ---------------------------------------------------------------------------------------------------------------------
.fa-15x {
  font-size: 12px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $font-color-title;
}

.main {
  text-align: center;
  height: auto;
}

.img-logo-header {
  width: 100px;
  //height: 100px;
}

.img-logo-footer{
  width: 150px;
  height: 150px;
}

.bg-base-color{
  background: $base-color;
}

.footer {
  padding: 2rem 0;
}

.footer-nav{
  flex-direction: row;
  justify-content: space-around;
}

//
//
//// footer
//.footer-wrapper{
//  display: table-row;
//}
//
//.footer-wrapper{
//  height: 1px;
//}
//
//.footer__top{
//  background: #e3e3e3 url('../img/wave_bg.png') repeat-x;
//  height: 20px;
//  width: 100%;
//}
//.footer__inner{
//  background:#252525;
//  padding: 3rem 0;
//}
//
//.footer-logo__svg{
//  fill: #707070;
//
//}
//.footer-logo__svg:hover{
//  fill: #fff;
//
//}
//
//.footer__heading{
//  color: #707070;
//  text-transform: uppercase;
//  letter-spacing: 0.025em;
//  margin-bottom: 1rem;
//  font-weight: 600;
//}
//
//.footer__block{
//  margin-bottom: 3rem;
//}
//.footer__copyright{
//  margin: 2rem 0;
//  color: rgba(255,255,255,.6);
//}
.footer-contacts{
  //padding-top: 1rem;
}
//
//.footer-contacts__item{
//  display: block;
//  text-decoration: none;
//  color: rgba(255,255,255,.6);
//}
//.footer-contacts__item:hover{
//  text-decoration: none;
//  color: rgba(255,255,255,1);
//}

.contact-item{
  padding: 0.5rem 1rem;
  list-style-type: none;
}

.footer-contacts__item{
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}
.footer-contacts__item:hover{
  text-decoration: none;
  color: #FFFFFF;
}

.footer-contacts__icon{
  margin-right: 0.5rem;
  text-align: center;
}

.footer-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //padding-top: 2rem;
  color: white;
}

.contact-item-social {
  padding: 0.5rem 1rem;
  list-style-type: none;
}


.footer .navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
}

.navbar-top-link {
  //z-index: 2000;
  color: #FFFFFF;
}

.navbar-top-link:hover {
  //z-index: 2000;
  text-decoration: none;
  color: #FFFFFF;
}

.section-1 {
  background-image: url(/img/main-1.jpg);
  position: relative;
  min-height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 600px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 0.5rem;
  margin-top: 10rem;
}

.section-1-center__title {
  font-size: 1.5rem;
}

.section-1-center__list {
  margin-top: 1rem;
  text-align: left;
  font-size: 1.25rem;
  list-style: none;
  padding: 0;
}
.section-1-center__list_item {
  //padding-right: 1.3em;
  color: $base-color;
}

.section-1-center__buttons {
  font-weight: bold;
}

// ---------------------------------

.btn-green {
  //font-size: 1.1rem;
  color: #fff;
  background-color: $base-color;
  //border-color: $base-color;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.20);
}

.btn-green:hover {
  color: $base-color;
  background-color: #fff;
  //border-color: $base-color-dark;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.20);
}

.btn-green:focus, .btn-green.focus {
  color: #fff;
  background-color: $base-color;
  //border-color: $base-color-dark;
  box-shadow: 0 0 0 0.2rem rgba(119, 177, 133, 0.5);
}

.btn-green.disabled, .btn-green:disabled {
  color: #fff;
  background-color: $base-color;
  //border-color: $base-color-dark;
}

.btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled).active,
.show > .btn-green.dropdown-toggle {
  color: #fff;
  background-color: $base-color;
  //border-color: $base-color-dark;
}

.btn-green:not(:disabled):not(.disabled):active:focus, .btn-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(119, 177, 133, 0.5);
}

// ---------------------------------

.section-head {
  padding: 1em 0;
  margin: 1em;
  //background-color: $base-color;
  border-radius: 0.5rem;
  //color: #FFFFFF;
  color: $font-color-title;
}

.section-bottom {
  padding: 1em 0;

}

.section-2 {
  padding: 0rem 4rem;
}

.section-2 .section-bottom {
  padding: 0 0;
  //margin: 1rem 0;
  margin: 2rem 0 3rem 0;
  //background-color: $base-color2;
  //color: $font-color-title;
}
.section-3 {
  background-color: $base-color2;
  padding: 4rem 4rem 8rem 4rem;
}

.section-3 .section-head {
  padding: 0 0;
  //margin: 1rem 0;
  margin: 2rem 0 5rem 0;
  background-color: $base-color2;
  color: $font-color-title;
}

.space {
  margin-right: 1rem;
}

// ---------------------------------------------------------------------------------------------------------------------

.section-2 .card {
  border: 0px;
}

.section-2 .card-title {
  text-align: left;
  margin: 0;
}

.section-2 .card-img-top {
  border-radius: 0.5rem ;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
}

// ---

.card-body__buttons {
  padding-top: 0;
}

.card .card-body__buttons {
  visibility: hidden;
}
.card-inner {
  border-radius: 0.5rem;
  //border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
}

// ---

.card:hover .card-inner {
  //border: 0;
  box-shadow: none;
}

.card:hover .card-outer {
  border-radius: 0.5rem;
  //border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
}

.card:hover .card-body__buttons {
  visibility: visible;
}

// ---------------------------------------------------------------------------------------------------------------------


img {
  max-width: 100%;
  max-height: 100%;
}

.card__image {
  //width: 560px;
  //height: 560px;
  height: auto;
  width: auto;
  max-width: 440px;
  max-height: 440px;
}

.bag-plus__circle {
  top: 20px;
  left: 10px;
  position: absolute;
  color: $font-color-title;
}

.bag-plus__stack {
  display: inline-block;
  //height: 2em;
  //line-height: 2em;
  position: relative;
  vertical-align: middle;
  //width: 2.5em;
}

.bag-plus__plus {
  top: 20px;
  left: 10px;
  position: absolute;
  color: #FFFFFF;
}

// ---------------------------------
.section-button__link {
  width: 80%;
  height: 6rem;

  position: relative;
  top: -50px;
  //left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.25rem;
  padding-bottom: 1.25rem;
}

.section-button__image {
  height: auto;
  width: auto;
  max-width: 170px;
  max-height: 170px;
  position: relative;
  top: 35px;
}

.fflexx1 {
  display: flex;
  //justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.fflexx {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  background-color: $base-color2;
  border: none;
}
// ---------------------------------

.btn-shadow-white {
  //font-size: 1.1rem;
  color: $base-color;
  background-color: #fff;
  //border-color: $base-color;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.20);
}

.btn-shadow-white:hover {
  color: $base-color;
  background-color: #fff;
  //border-color: $base-color-dark;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.20);
}

.btn-shadow-white:focus, .btn-shadow-white.focus {
  color: $base-color;
  background-color: #fff;
  //border-color: $base-color-dark;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-shadow-white.disabled, .btn-shadow-white:disabled {
  color: $base-color;
  background-color: #fff;
  //border-color: $base-color-dark;
}

.btn-shadow-white:not(:disabled):not(.disabled):active, .btn-shadow-white:not(:disabled):not(.disabled).active,
.show > .btn-shadow-white.dropdown-toggle {
  color: $base-color;
  background-color: #fff;
  //border-color: $base-color-dark;
}

.btn-shadow-white:not(:disabled):not(.disabled):active:focus, .btn-shadow-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-shadow-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

// ---------------------------------

.section-4 {
  padding: 4rem 4rem;
}

.accordion-left-image {
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 500px;
}


.section-4 .card {
  border: 0px;
}

.section-4 .card-header {
  padding-left: 0rem;
  background-color: #FFFFFF;
  border: 0px;
}

.section-4 .card-body {
  padding-left: 2rem;
}

.qa {
  margin-right: 1rem;
}

.card-header__h2 {
  display: flex;
  flex-direction: row;
  //justify-content: center;
  //justify-items: center;
  align-items: center;
}

.section-4 .card-header .btn-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}
.section-4 .card-header .btn-link:hover {
  //color: rgba(0, 0, 0, 0.5);
  //color: red;
  color: rgba(0, 0, 0, 0.7);

  text-decoration: underline;
}

.section-4 .card-header .btn-link:focus,
.section-4 .card-header .btn-link.focus {
  text-decoration: underline;
}

.section-4 .card-header .btn:focus,
.section-4 .card-header .btn.focus {
  box-shadow: none;
}

// ----

.section-5 {
  background-image: url(/img/main-2.jpg);
  position: relative;
  min-height: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-5 .header {
  margin-bottom: 1rem;
  padding: 2rem 5rem;
  //height: 350px;
  //width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem;
  //width: 70%;
  //padding: 10rem;
  //max-width: 70rem;
  //max-height: 500px;
}

.section-6 {
  background-color: $base-color2;
  padding: 3rem;
}

.section-7 .insta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $base-color;
}

